<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/style.css", type="text/css">
    <title></title>
  </head>
  <body>
    <% include ("partials/nav") %>
    <h1>Welcome to my website</h1>
    <p>This is an JS web server</p>
  </body>
</html>
